.analysis-page {
  min-height: 100vh;
  /* Ensure it takes the full height of the viewport */
  width: 90%;
  /* Ensure it spans the full width */
  padding: 2rem;
  background-color: #f5f9f9;
  font-family: Arial, sans-serif;
  display: flex;
  /* Use flexbox for layout */
  flex-direction: column;
  /* Stack content vertically */
  align-items: center;
  /* Center content horizontally */
  justify-content: flex-start;
  /* Align content to the top */
}

h1 {
  color: #333;
  text-align: left;
  margin-bottom: 2rem;
  width: 100%;
  /* Ensure the heading spans the full width */
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  width: 100%;
  height: 80vh;
  overflow-y: scroll;
  /* Make the grid span the full width */
}

.card {
  background: #eceecf;
  padding: 1.5rem;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h2 {
  color: #555;
  margin-bottom: 1rem;
}

.card p {
  font-size: 1.25rem;
  color: #222;
}

.progress-bar {
  margin-top: 0.5rem;
  border-radius: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5rem 0;
  color: #444;
}

.chart-container {
  max-width: 400px;
  margin: 0 auto;
}