@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100&display=swap");

*{
  padding:0;
  box-sizing: border-box;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


.app {
  flex: 1 0 auto;
  min-height: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

footer {
  flex-shrink: 0;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
footer {
  flex-shrink: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width:100%;
  max-width: 1400px;
  margin:auto;
}
@keyframes fadlenIn{
  0%{
    opacity: 0;
}
  100%{
    opacity: 1;
}
}
