.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 4%;
  height: 70px;
  background-color: #fff;
  /* Add a background color for visibility */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add a subtle shadow */
  position: fixed;
  /* Fix the navbar at the top */
  top: 0;
  /* Align it to the top of the viewport */
  left: 0;
  /* Align it to the left */
  width: 100%;
  /* Ensure it spans the full width */
  z-index: 1000;

}

.logo{
   
  justify-content: start;
  align-items: center;
  margin-bottom: 1vw;
  
}
.logo h2{
  font-size:1.5rem;
  font-weight:700;
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee ,rgb(89, 10, 88));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.logo h2 span {
  font-size: 3.5rem;

}

.navbar .profile {
  width: 40px;
  height: 40px;
  /* Ensure the profile icon is square */
  border-radius: 50%;
  /* Make the profile icon circular */
  object-fit: cover;
  /* Ensure the image fits within the circle */
  cursor: pointer;
  /* Add a pointer cursor for interactivity */
}